{% extends "base.html" %}

{% block content %}
    <section class="hero">
        <h1>Наші мрії про майбутнє</h1>
        <p>Від колонізації Марса до квантових комп'ютерів – ми живемо в епосі, коли найсміливіші мрії стають реальністю. Досліджуйте з нами майбутнє технологій та космічних проривів.</p>
        <div class="buttons">
            <a href="{{ url_for('show_space') }}" class="btn-primary">Дослідити космос</a>
            <a href="{{ url_for('show_artificial') }}" class="btn-secondary">Відкрити ШІ</a>
            <button class="btn-tertiary">Мрії про майбутнє</button>
        </div>
    </section>
{% endblock %}