    {% extends "base.html" %}

    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='space.css') }}">
    {% endblock styles %}

    {% block content %}
    <main>

        <section class="intro">
            <h1>Космічна індустрія майбутнього: нова ера підкорення Всесвіту</h1>
            <blockquote class="quote">
                <p>«Доля людини не навіки прикута до Землі. Настане день, коли ми вирушимо до зірок.»</p>
                <cite>— Вернер фон Браун</cite>
            </blockquote>

        </section>
        <section class="history-and-today">
            <h3><strong>Історія та сьогодення</strong></h3>
            <p>
                Початком епохи освоєння космосу вважається запуск першого штучного супутника Землі — «Супутник-1»,
                запущеного Радянським Союзом 4 жовтня 1957 року. Це ж і стало початком так званих «космічних перегонів» між
                США та СРСР. Цей період (1957—1975) був наповнений важливими подіями, які стали проривами у космічній
                експансії людини. Окрім запуску «Супутник-1», про який вже згадувалося, є ще кілька вартих уваги. Наприклад,
                перший орбітальний політ Юрія Гагаріна 12 квітня 1961 року. Він довів, що людина може вижити у космосі, і це
                відкрило нові можливості для досліджень космічного простору. Перша людська місія на Місяць відбулася у 1969
                році. Місія "Аполлон-11", під час якої Ніл Армстронг став першим людиною, який ступив на поверхню Місяця,
                стала кульмінацією космічних перегонів.
            <figure class="apollo">
                <img class="apollo11" src="static/img/apollo11.jpg" alt="Аполлон-11 на Місяці">
                <figcaption>Аполлон-11 на Місяці</figcaption>
            </figure>
            </p>
            <p>
                Після завершення "космічних перегонів" увага зосередилась на практичному використанні космічних технологій.
                З часом супутники стали основними інструментами для глобальних комунікацій, навігації, прогнозування погоди
                та наукових досліджень. Міжнародна космічна станція (МКС), запущена у 1998 році, стала платформою для
                співпраці між різними країнами, а також ключовим об’єктом для експериментів у космосі.
            </p>

            <p>Сьогодні космічна галузь стрімко розвивається. 2024 рік став переломним для світової супутникової індустрії,
                відзначившись безпрецедентним зростанням та інноваціями. Серед визначних досягнень, висвітлених у щорічному
                звіті Асоціації супутникової індустрії (SIA) про стан супутникової індустрії, - розгортання 2 781
                комерційного супутника, що на 20% більше, ніж у попередньому році, та рекордні 190 космічних
                запусків у 2023 році. Кількість супутників на орбіті зараз становить 9 691, що на 361% більше всього
                за п'ять років. 2025 рік має зберегти цю динаміку, впроваджуючи революційні інновації та встановлюючи нові
                віхи в супутникових технологіях і дослідженнях, при цьому основними цілями є сталість, боротьба зі сміттям і
                глобальна співпраця.</p>
            <p>На даний момент ведучими компаніями є: NASA (США) - Національне управління з аеронавтики і дослідження
                космічного простору, займається місячними місіями (Artemis), дослідженням Марса (Perseverance, Ingenuity),
                телескопом James Webb; SpaceX (США) – найвідоміша приватна компанія Ілона Маска, розробила Falcon 9,
                Starship, Starlink, доставляє вантажі на МКС; Blue Origin (США) – компанія Джеффа Безоса, створює ракети New
                Shepard, New Glenn, бере участь у програмі висадки на Місяць.</p>

            <div class="figures-container">
                <figure>
                    <img class="Webb" src="static/img/Webb.jpeg" alt="Телескоп Джеймса Вебба">
                    <figcaption>Телескоп Джеймса Вебба</figcaption>
                </figure>
                <figure>
                    <img class="Starship" src="static/img/Starship1.jpg" alt="Ракета Starship">
                    <figcaption>Ракета Starship</figcaption>
                </figure>
            </div>
        </section>

        <section class="challenges">
            <h3><strong>Виклики</strong></h3>
            <p>Попри стрімкий розвиток космічних технологій, галузь все ще стикається з низкою серйозних викликів, які
                можуть обмежити її подальший прогрес. Однією з найбільших економічних проблем є висока вартість запусків. У
                зв’язку з цим, якщо вона не буде зменшуватися, космічні програми будуть недосяжними для більшості країн і
                компаній. Це, в свою чергу, обмежить комерціалізацію космосу та доступ до нього для широкої аудиторії.</p>
            <p>Іншою, не менш важливою, є проблема космічного сміття. Це залишки старих супутників, ракет та їх частин, що
                обертаються навколо Землі. Збільшення кількості запусків лише погіршує ситуацію, і вже сьогодні існують
                випадки зіткнень супутників із уламками, що може призвести до значних збитків. Щоб забезпечити безпечну
                роботу майбутніх місій необхідно розробити стратегії для утилізації або очищення орбіти від цього сміття</p>
        </section>

        <section class="future-space-missions">
            <h3><strong>Майбутні космічні місії</strong></h3>
            <p>Наразі триває підготовка майбутніх місій, пов’язаних із дослідженням та освоєнням космосу, серед яких:</p>
            <ul>
                <li>NASA Artemis. У рамках кампанії NASA ми досліджуватиме Місяць з метою наукових відкриттів, розвитку
                    технологій, а також для того, щоб дізнатися, як жити і працювати на іншому світі, готуючись до польотів
                    людини на Марс. Компанія співпрацюватиме з комерційними та міжнародними партнерами і встановить першу
                    довгострокову присутність на Місяці.</li>
                <li>Orbital Reef (Blue Origin, Sierra Space). Станція Orbital Reef, яку очолюють головні партнери Sierra
                    Space Corporation та Blue Origin, відкриє наступну главу в дослідженні та освоєнні космосу людиною,
                    сприяючи зростанню динамічної екосистеми та бізнес-моделі майбутнього. Orbital Reef підтримують лідери
                    космічної галузі та партнери по команді, серед яких Boeing, Redwire Space, Genesis Engineering та
                    Університет штату Арізона.</li>
                <li>Comet Interceptor (ESA, 2029). Кометний перехоплювач ЄКА стане першою місією, яка відвідає комету, що
                    прилетить безпосередньо із зовнішніх областей Сонячної системи, несучи на собі матеріал, недоторканий з
                    часів зародження Сонячної системи. Після запуску космічний апарат буде "припаркований" у космосі, перш
                    ніж рушити на перехоплення відповідної незайманої комети. Коли комета наблизиться, головний космічний
                    апарат випустить два зонди, щоб спостерігати за кометою з кількох напрямків одночасно. Місія Comet
                    Interceptor здійснюється під керівництвом ЄКА у співпраці з JAXA.</li>
            </ul>
            <p>І таких місій багато. Вони націлені на нові відкриття, здобуття корисних матеріалів та безпосереднє освоєння
                Сонячної системи.</p>
        </section>

        <section class="technical-perspectives">
            <h3>Технічні перспективи космічної галузі </h3>

            <p>Космічні технології розвиваються швидкими темпами, і в найближчі десятиліття ми можемо очікувати революційні
                зміни в ракетобудуванні, матеріалах, енергетиці, штучному інтелекті та освоєнні космосу.</p>
            <p>Зараз ідуть розробки технологій багаторазових космічних кораблів. Чудовим прикладом є космічний корабель
                Starship і надважка ракета SpaceX . Вони представляють собою повністю багаторазову транспортну систему,
                призначену для доставки екіпажу і вантажів на навколоземну орбіту, Місяць, Марс і за його межі. Starship -
                найпотужніша у світі ракета-носій, здатна перевозити до 150 тонн вантажу багаторазового використання та 250
                тонн одноразового використання.</p>
            <p>Також важливим є розробки нових двигунів, які зможуть скоротити тривалість подорожей у космосі. Проект,
                відомий як DRACO ("Демонстраційна ракета для гнучких циркулярних операцій"), має на меті провести в космосі
                випробування ядерного теплового двигуна (ЯТД), потенційно революційної технології, яка може допомогти
                людству облаштуватися на Марсі та в інших далеких світах. </p>
            <p>Для місій до далеких планет використовуватимуть Hall Effect Thrusters (HET), які значно ефективніші за
                хімічні двигуни. Двигуни на ефекті Холла використовують магнітне поле для обмеження осьового руху
                електронів, а потім використовують їх для іонізації палива, ефективного прискорення іонів для створення тяги
                і нейтралізації іонів у факелі. Однак дана технологія має недоліки: через низьку тягу, такі двигуни не
                підходять для старту з поверхні.</p>
            <p>Також важливу роль відгірає штучний інтелект (AI) у розвитку космічних технологій, допомагаючи автоматизувати
                навігацію, аналізувати великі обсяги даних і багато іншого. У майбутньому AI допоможе розробляти автономні
                космічні станції, оптимізувати міжпланетні польоти та створювати інтелектуальні системи підтримки
                астронавтів під час тривалих місій на Місяць і Марс.</p>
        </section>

        <section class="ending">
            <p>У цій статті наведено лише кілька перспектив розвитку космічної галузі, їх є більше. Космічна галузь пройшла
                довгий шлях від перших мрій до реальних досягнень, які змінюють наш світ. Вона стала важливим двигуном
                прогресу, який впливає на науку, технології та економіку. У майбутньому людство буде продовжувати
                розширювати свої межі в космосі, відкриваючи нові можливості для науки, економіки та культури. Космос — це
                не лише наша минула і сьогодення, але й майбутнє, яке чекає нас за межами Землі.</p>
        </section>

    </main>

    {% endblock %}